<nav class="navbar navbar-expand navbar-light bg-light" style="border-bottom: solid; border-bottom-color: darkgray; border-bottom-width: 1px;">
    <a class="navbar-brand">
        <img src="/assets/logo-ingrosso.PNG" alt="Ingrosso Motori" style="height: 7vh; width: 20vh;">
    </a>

    <ul class="navbar-nav mr-auto" *ngIf="!phoneView">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/veicoli">VEICOLI</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/vendite">VENDITE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">COLLABORATORI</a>
      </li>
    </ul>
   
    <ng-container *ngIf="phoneView">
      <button type="button" class="btn btn-outline-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: 60%;">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" routerLinkActive="active" routerLink="/veicoli">VEICOLI</a>
        <a class="dropdown-item" routerLinkActive="active" routerLink="/vendite">VENDITE</a>
        <a class="dropdown-item">COLLABORATORI</a>
      </div>
    </ng-container>

    <div style="margin-right: 2%; display: flex;">
      <span class="material-symbols-outlined" style="font-size: 34px; vertical-align: middle;">
        account_circle
        </span>
        <span style="font-size: large;font-weight: 600; vertical-align: middle;">
          {{authService.currentUser!.nome}}
        </span>
    </div>
  </nav>