<div class="container mt-3">
    <div class="row">
      <div class="col-12">
        <h1>Veicoli</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mb-3">
        <button class="btn btn-success" (click)="aggiungiVeicolo()">Aggiungi veicolo</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="table">
          <thead>
            <tr>
              <th>Marca</th>
              <th>Modello</th>
              <th>Anno</th>
              <th>Targa</th>
              <th>Data arrivo</th>
              <th>Prezzo</th>
              <th>Descrizione</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let veicolo of veicoliService.listaVeicoli" [ngClass]="{'disponibile' : veicolo.stato == veicoliService.stati.DISPONIBILE, 'bloccata' : veicolo.stato == veicoliService.stati.BLOCCATO, 'venduta' : veicolo.stato == veicoliService.stati.VENDUTO}">
              <td>{{veicolo.marca}}</td>
              <td>{{veicolo.modello}}</td>
              <td>{{veicolo.anno}}</td>
              <td>{{veicolo.targa}}</td>
              <td>{{veicolo.dataArrivo | date:'dd/MM/yyyy'}}</td>
              <td>{{veicolo.prezzo | currency:'EUR':'symbol':'1.2-2'}}</td>
              <td>{{ veicolo.descrizione | slice:0:40 }}{{ veicolo.descrizione.length > 40 ? '...' : '' }}</td>
              <td>
                <button class="btn btn-sm btn-outline-success" style="margin-right: 2%;">Preventivo</button>
                <button (click)="veicoliService.setVeicoloDettagli(veicolo, true)" class="btn btn-sm btn-outline-primary" style="margin-right: 2%;">Dettagli</button>
                <button class="btn btn-sm btn-outline-danger" (click)="eliminaVeicolo(veicolo)">Elimina</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>