<p>POI LO FACCIO STAVO PENSANDO AD UNA TABELLA CHE DICE QUANDO, PER QUANTO, QUALE MACCHINA E NOTE, CON UN PULSANTE PER SCARICARE LA FATTURA E UNO PER VEDERE I DETTAGLI DELLA MACCHINA</p>
<div class="container mt-3">
    <div class="row">
      <div class="col-12">
        <h1>Vendite</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="table">
          <thead>
            <tr>
              <th>Veicolo</th>
              <th>Data Vendita</th>
              <th>Importo</th>
              <th>Note</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let vendita of venditeService.listaVendite">
              <td class="link" (click)="veicoliService.setVeicoloDettagli(vendita.fkVeicolo, false)">
                {{veicoliService.getById(vendita.fkVeicolo).marca}} {{veicoliService.getById(vendita.fkVeicolo).modello}}
              </td>
              <td>{{vendita.dataVendita | date:'dd/MM/yyyy'}}</td>
              <td>{{vendita.importo | currency:'EUR':'symbol':'1.2-2'}}</td>
              <td>{{vendita.note | slice:0:50}}{{ vendita.note.length > 50 ? '...' : '' }}</td>
              <td><button class="btn btn-sm btn-outline-primary" style="margin-right: 2%;">Dettagli</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
